<section class="ui secondary menu">
  <% if current_user %>
  <section class="right menu">
    <i class="header item">Welcome, <%=current_user.username %></i>
    <%= link_to("Logout", logout_path, class: "item") %>
    <% end %>
  </section>
</section>
