<section class="ui four item menu">
  <%=link_to("Home", mutedphrases_path, class: "item") %>
  <%=link_to("Show Tweets", show_tweets_mutedphrases_path, class: "item") %>
  <%=link_to("Mute Phrase", mutedphrases_path, class: "item", method: :post) %>
  <%=link_to("Back to Search", new_mutedphrase_path, class: "item") %>
</section>
